---
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<section class="w-full">
  <video
    class="mx-auto my-0 block h-auto w-full max-w-[800px]"
    autoplay="autoplay"
    playsinline
    muted
    loop
  >
    <source src={url} type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</section>
